@font-face {
    font-family: "Century Gothic";
    src: url('./Ressources/fonts/CenturyGothic/CenturyGothic-Regular.ttf');
}

@font-face {
    font-family: "Century Gothic Bold";
    src: url('./Ressources/fonts/CenturyGothic/CenturyGothic-Bold.ttf');
}

@font-face {
    font-family: "Roboto light";
    src: url('./Ressources/fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: "Okta Neue Ultra Light";
    src: url('./Ressources/fonts/OktaNeue/OktaNeue-UltraLight.ttf');
}


* { 
    margin: 0; 
    padding: 0; 
    color: #2E2E2E;
}

ul {
    list-style-type:none;
}

a:link {
    text-decoration: none;
  }

section, footer {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1590px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    width: 100%;
}

.container-bis {
    max-width: 1364px;
}

h2 {
    font: normal normal normal 60px/73px "Century Gothic";
    color: #2E2E2E;
}

.right-part, .left-part {
    flex: 1;
}


/* HEADER */
header{
    display: flex;
    justify-content: right;
    max-width: 1920px;    
}

header .page-title {
    font: normal normal normal 33px/62px "Century Gothic";
    color: #2E2E2E;
    letter-spacing: 2px;
}

header .page-title p{
    font: normal normal 200 50px/45px "Okta Neue Ultra Light";
    letter-spacing: 1px;
}

header .glider-container {
    max-width: 1250px;
}


header .glider-container .glide__slides{
    display: block
}

header .glider-container .glide__slides .glide__slide {
    transition: opacity 1s ease-in-out;
    display: none;
    /* opacity: 0; */
    /* position: absolute;
    top: 0;
    right: 0; */
    /* height: 0; */
}

header .glider-container .glide__slides .glide__slide.slide_active {
    opacity: 1;
    /* height: auto; */
    display: block;
}

header .glider-container .glide__slides .glide__slide img{
    width: 100%;
}

/* header img {
    height: 1250px;
    width: auto;
} */


/* NAV */
nav {
    max-width: 1364px;
    margin: auto;
    border-bottom: 5px solid #2E2E2E;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 783px;
    margin: auto;
    padding: 60px 0;
    font: normal normal bold 30px/37px "Century Gothic";
    color: #2E2E2E;

}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #2E2E2E;
}
  
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #2E2E2E;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* HELLO SECTION */

#section-hello .right-part h2{
    margin-bottom: 30px;
}

#section-hello .right-part p{
    font: normal normal 300 25px/38px "Roboto light";
    margin-bottom: 30px;
}


/* SKILL SECTION */
#section-skills .container, footer .container {
    flex-direction: column;
}

#section-skills .section--header {
    width: 100%;
}

#section-skills .skills-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1364px;
    margin-top: 150px;
}

#section-skills .skills-list .skill {
    width: 50%;
    margin-bottom: 112px;
    display: flex;
    align-items: center;
}

#section-skills .skills-list .skill img {
    width: 187px;
    margin-right: 45px;
}

#section-skills .skills-list .skill .skill-txt .skill-title {
    font: normal normal normal 40px/49px "Century Gothic";
}

#section-skills .skills-list .skill .skill-txt .skill-subtitle {
    font: normal normal 300 25px/38px "Roboto light";
}

/* GALLERY SECTION */
#section-gallery .parent {
    display: flex;
    flex-direction: column;
}

#section-gallery .row-gallery {
    display: flex;
    width: 100%;
    margin-bottom: 16px;
}

#section-gallery .gallery-item {
    width: auto;
    overflow: hidden;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.gallery-item:before{
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition-property: opacity;
    transition-duration: 0.3s;
}

.gallery-item .gallery-item-txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 3;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
}

.gallery-item .gallery-item-txt .item-title{
    color: white;
    font: normal normal normal 60px/73px Century Gothic;
}

.gallery-item .gallery-item-txt .item-subtitle{
    color: white;
    font: normal normal 300 25px/38px Roboto;
}

.gallery-item:hover img{
    transition-property: transform;
    transition-duration: 0.3s;
}

.gallery-item:hover img{
    transform: scale(1.2);
}

.gallery-item:hover:before{
    opacity: 0.6;
}

.gallery-item:hover .gallery-item-txt{
    opacity: 1;
}



.gallery-item.div1 { 
    max-width: 950px;
    margin-right: 8px;
}

.gallery-item.div2 { 
    max-width: 625px;
    margin-left: 8px;
}

.gallery-item.div3 { 
    max-width: 680px;
    margin-right: 8px;
}

.gallery-item.div4 { 
    max-width: 950px;
    max-height: 720px;
}

#section-gallery .see-all{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #2E2E2E;
    flex: 1;
    margin-top: 16px;
    padding-top: 60px;
}

#section-gallery .see-all p{
    color: white;
    font: normal normal normal 40px/49px Century Gothic;
}

#section-gallery .see-all img{
    max-width: 70px;
}

#section-gallery .two-items-columns{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}


/* CONTACTS SECTION */
#section-contacts {
    padding-bottom: 80px;
}

#section-contacts .left-part {
    background-color: #2E2E2E;
}

#section-contacts .left-part h2 {
    font: normal normal normal 60px/73px "Century Gothic";
    color: #fff;
} 

#section-contacts .left-part p {
    font: normal normal 200 25px/38px "Okta Neue Ultra Light";
    color: #fff;
} 

#section-contacts .right-part .contact-item {
    display: flex;
    font: normal normal normal 30px/37px "Century Gothic";
}

#section-contacts .right-part .contact-item.tel{
    margin-bottom: 30px;
}

#section-contacts .right-part .contact-item span{
    
    background-repeat: no-repeat;
    width: 36px;
    height: auto;
    margin-right: 40px;
    margin-left: 40px;
}

#section-contacts .right-part .contact-item.tel span{
    background-image: url('./Ressources/icones/icone_contact_telephone.svg');
}

#section-contacts .right-part .contact-item.mail span{
    background-image: url('./Ressources/icones/icone_contact_mail.svg');
}


/* FOOTER */
footer {
    padding-bottom: 40px;
}

footer .container-bis{
    border-top: #2E2E2E 2px solid;
}

footer .socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
    padding-top: 30px;
}

footer .socials p {
    text-align: center;
    margin-bottom: 40px;
    font: normal normal normal 20px/24px "Century Gothic";
}

footer .socials .socials-list {
    display: flex;
}

footer .socials .socials-list .social-item {
    margin-right: 25px;
}

footer .socials .socials-list img {
    width: 55px;
    height: auto;
}

footer .copyright {
    margin: auto;
    font: normal normal normal 20px/24px "Century Gothic";
}